<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DAQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <connectionStrings>
    <add name="Oeedb" connectionString="Server=(localdb)\mssqllocaldb;Database=oeedb;Trusted_Connection=True;"/>
  </connectionStrings>
    <userSettings>
        <DAQ.Properties.Settings>
            <setting name="Shift" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="ShiftName" serializeAs="String">
                <value>102B</value>
            </setting>
            <setting name="Order" serializeAs="String">
                <value>111231</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BobbinLotNo" serializeAs="String">
                <value>222</value>
            </setting>
            <setting name="MachineNo" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="EmployeeNo" serializeAs="String">
                <value>333</value>
            </setting>
            <setting name="FlyWireLotNo" serializeAs="String">
                <value/>
            </setting>
            <setting name="TubeLotNo" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProductionOrder" serializeAs="String">
                <value/>
            </setting>
            <setting name="BobbinCavityNo" serializeAs="String">
                <value/>
            </setting>
            <setting name="BobbinToolNo" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveRootPath" serializeAs="String">
                <value>Z:\LASER</value>
            </setting>
            <setting name="BobbinPartName" serializeAs="String">
                <value/>
            </setting>
            <setting name="MarkingNo" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Materials" serializeAs="String">
                <value/>
            </setting>
            <setting name="Station" serializeAs="String">
                <value>LASER</value>
            </setting>
            <setting name="Shift1" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShiftName1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Order1" serializeAs="String">
                <value/>
            </setting>
            <setting name="LineNo1" serializeAs="String">
                <value/>
            </setting>
            <setting name="BobbinLotNo1" serializeAs="String">
                <value/>
            </setting>
            <setting name="MachineNo1" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmployeeNo1" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlyWireLotNo1" serializeAs="String">
                <value/>
            </setting>
            <setting name="TubeLotNo1" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProductionOrder1" serializeAs="String">
                <value/>
            </setting>
            <setting name="BobbinCavityNo1" serializeAs="String">
                <value/>
            </setting>
            <setting name="BobbinToolNo1" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveRootPath1" serializeAs="String">
                <value>Z:\N3</value>
            </setting>
            <setting name="BobbinPartName1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Station1" serializeAs="String">
                <value>N3</value>
            </setting>
        </DAQ.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
