<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DAQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="Oeedb" connectionString="Server=(localdb)\mssqllocaldb;Database=oeedb;Trusted_Connection=True;"/>
  </connectionStrings>
    <userSettings>
        <DAQ.Properties.Settings>
            <setting name="Shift" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="ShiftName" serializeAs="String">
                <value>102B</value>
            </setting>
            <setting name="LotNo" serializeAs="String">
                <value>111231</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BobbinLotNo" serializeAs="String">
                <value>222</value>
            </setting>
            <setting name="MachineNo" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="EmployeeNo" serializeAs="String">
                <value>333</value>
            </setting>
            <setting name="FlyWireLotNo" serializeAs="String">
                <value />
            </setting>
            <setting name="TubeLotNo" serializeAs="String">
                <value />
            </setting>
        </DAQ.Properties.Settings>
    </userSettings>
</configuration>
