<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.2" targetFramework="net461" />
  <package id="Fody" version="4.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="NModbus4" version="3.0.0-alpha2" targetFramework="net461" />
  <package id="Topshelf" version="4.2.0.202-develop" targetFramework="net461" />
</packages>